@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ClashDisplay";
    src: url('./assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "ClashDisplay";
    src: url('./assets/fonts/ClashDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "ClashDisplay";
    src: url('./assets/fonts/ClashDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
}

body {
    @apply font-clash font-semibold;
}

.button-ripple {
    position: relative;
}

.button-ripple::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 215, 0, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.button-ripple.animate::after {
    animation: ripple 0.6s cubic-bezier(.65, 0, .34, 1);
}

@keyframes ripple {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }

    to {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}